<div class="div-container">
  <div [formGroup]="formGroup">

    <mat-form-field class="form-campo">
      <input matInput [ngModel]="filtro" [ngModelOptions]="{standalone: true}"
        (keyup)="aoDigitarFiltroTabela($event.target.value)" placeholder="Filtrar pelo nome...">
    </mat-form-field>

  </div>
  <div class="linha-botoes">
    <button mat-raised-button color="primary" [disabled]="(filtro.length <= tamanhoMinimoTextoFiltro)"
      (click)="aplicarFiltroTabela()">Filtrar</button>
    <button mat-raised-button color="default" *ngIf="(filtro.length > tamanhoMinimoTextoFiltro)"
      (click)="limparFiltroTabela()">
      Limpar Filtro
    </button>
  </div>

  <!-- Tabela -->


  <table style="margin-top:20px;" mat-table [dataSource]="dataSource" class="tabela" matSort matSortActive="created"
    matSortDisableClear matSortDirection="asc">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
          [checked]="selectionModel.hasValue() && todosElementosEstaoSelecionados()"
          [indeterminate]="selectionModel.hasValue() && !todosElementosEstaoSelecionados()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionModel.toggle(row) : null"
          [checked]="selectionModel.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="listaDeTrabalho">
      <th mat-header-cell *matHeaderCellDef>Lista de Trabalho</th>
      <td mat-cell *matCellDef="let item"><a routerLink="/lista-de-trabalho-imoveis/{{item.id}}">{{item.nome}}</a></td>
    </ng-container>

    <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let item">
          <button mat-icon-button *ngIf="listaCompleta && !(item.status === 'enviado' ? true : false)" (click)="enviar(item)">
              <mat-icon class="botoes-status enviar" >cloud_upload</mat-icon>
            </button>
          <button mat-icon-button *ngIf="(item.status === 'enviado' ? true : false)" disabled="true">
              <mat-icon  class="botoes-status" >cloud_done</mat-icon>
            </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
    <tr mat-row *matRowDef="let item; columns: colunasTabela;"></tr>
  </table>
  <div style="background-color: white" class="loading-shade" *ngIf="carregandoResultados">
    <mat-spinner></mat-spinner>
  </div>
  <div style="background-color: white; padding: 20px" *ngIf="!carregandoResultados && listas.length == 0">
    Nenhum registro carregado.
  </div>
  <mat-paginator [length]="quantidadeRegistros" [pageSize]="5" [pageSizeOptions]="[5, 10, 30]"></mat-paginator>

  <div class="linha-botoes">
    <button mat-raised-button color="warn" [disabled]="!selectionModel.hasValue() "
      (click)="removerListas()">Excluir</button>
      <button mat-raised-button color="warn" [disabled]="listas?.length == 0 "
      (click)="removerTodas()">Excluir Todas</button>
  </div>
</div>

<!-- <div class="example-box" cdkDrag [cdkDragFreeDragPosition]="dragPosition">
  Drag me around
</div> -->