.linha-botoes{
    text-align: center;
}
.botoes-status{
    text-align: right !important;
    display: inline;
    
}

.enviar{
    color: blue !important;
}
.enviado{
    color: green !important;
}

.insivivel{
    display: none !important;
}