<div class="div-container">
  <app-surveyjs-component *ngIf="item?.reconhecimento" (onCompleteEventEmitter)="salvar($event)" [formulario]="item.reconhecimento.formulario"
            [respostas]="item.reconhecimento?.conteudo" (onCancelarEventEmitter)="voltar()"
            (onExcluirEventEmitter)="excluir()">
        </app-surveyjs-component>
</div>