<button mat-mini-fab class="fab-center" color="primary" (click)="concluir();">
    <mat-icon>save</mat-icon>
</button>
<button mat-mini-fab class="fab-left" color="primary" (click)="cancelar();">
    <mat-icon>arrow_back</mat-icon>
</button>
<button class="fab-right-corner" mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="excluir()">
        <mat-icon>delete</mat-icon>
        <span>Deletar</span>
    </button>
</mat-menu>

<p style="text-align: right;margin: 10px;"></p>

<div id="surveyElement">
</div>

<div id="footer-botoes-acao"></div>