.button-row button,
.button-row {
    width: 45%;
    white-space: initial;
}

.tabela-detalhes table,
th,
td {
    border: 1px solid black;
}

.botao-pagina-proxima {
    float: right;
    margin-right: 8px;
}

.botao-pagina-anterior {
    float: left;
    margin-left: 8px;
}

.botao-completar-survey {
    float: right;
    margin-right: 8px;
}

.wrapper-botao-cancelar {
    text-align: center;
}

.botao-cancelar-survey {
    margin-left: 10px;
}

.spinner-sempre-amostra{
    background: red !important;
}
.loading-shade {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fab-center {
    right: 50%;
    bottom: 5px;
    position: fixed !important;
    z-index:1000;
}

.fab-left {
    right: 75%;
    bottom: 5px;
    position: fixed !important;
    z-index:1000;
}

.fab-right {
    right: 25%;
    bottom: 5px;
    position: fixed !important;
    z-index:1000;
}

.fab-right-corner
{
    right: 10%;
    bottom: 5px;
    position: fixed !important;
    z-index:1000;
}

#footer-botoes-acao {
    background: rgb(217, 216, 221);
    bottom: 0px;
    position: fixed !important;
    width: 100%;
    height: 50px;
}